:root{
    --dark-gray:hsl(0, 0%, 59%);
}

body{
    background-color: hsl(185, 75%, 39%);
    color:hsl(229, 23%, 23%);
}
#main{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white ;
    width: 345px;
    border-radius:15px;
    text-align:center;
    font-family: 'Kumbh Sans', sans-serif;
}
.head-pattern{
    width:100%;
    height:50%;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.head-img{
    border-radius:50%;
    position:relative;
    top:6px;

}
.img-bag{
    border-radius:50%;
    margin:auto;
    width:108px;
    height:108px;
    position:relative;
    bottom:50px;
    background-color:white;
}
p{
    color:var(--dark-gray);
}
span{
    font-weight:700;
    color:var(--dark-gray);
}
#stats-align{
    border-top:solid 1px hsl(184, 6%, 91%);
    display:flex;
    justify-content:space-around; 
}
.stats{
    font-size:18px;
    font-weight:700;
    color:hsl(229, 23%, 23%);
    padding-top:8px;
}
h1{
    margin-top:-30px;
    font-size:18px; 
    font-weight:700;
}
.stats-name{
    margin-top:-15px;
    padding-bottom:10px;
    font-size:13px;
    font-weight:400;
    
}
.city{
    margin-top:-5px;
    padding-bottom:10px;
     font-weight:400;
}
#bottom-bg-pattern{
    background-image:url(images/bg-pattern-bottom.svg);
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-position:right;
    background-size:60%;
   background-position-y:25em;

}
.top-bg-pattern{
    background-image:url(images/bg-pattern-top.svg);
    width:50%;
    height:100vh;
    background-repeat:no-repeat;
    background-position:top;
    background-size:100%;
    background-position-y:-20em;
    margin-top:-10px;
    
   
}